---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "UX/UI Design",
    description:
      "Des interfaces qui maximisent la valeur d'usage en minimisant les frictions.",
    icon: "mdi:graph-line",
  },
  {
    title: "Software",
    description:
      "Des applications technologiques scalables au service de votre business.",
    icon: "mdi:application-outline",
  },
  {
    title: "Produit",
    description:
      "Des produits qui répondent aux besoins de vos utilisateurs et qui génèrent de la valeur.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Utilisateurs",
    description:
      "L'acquisition et la rétention de vos utilisateurs sont au coeur de notre démarche.",
    icon: "mdi:user-star",
  },
  {
    title: "Equipes",
    description:
      "La structuration d'équipes tech et produit pour votre autonomie technologique.",
    icon: "mdi:account-group",
  },
  {
    title: "Roadmap",
    description:
      "Une roadmap produit optimisée pour la pérénnité de votre business model.",
    icon: "mdi:roadmap",
  },
];
---

<ContentSection title="Proposition de valeur" id="proposition">
  <Fragment slot="lead">
    Nos compétences et notre expériences <span class="text-primary">au service de votre projet</span>. 
    Nous produisons les premières briques de votre startup avec <span class="text-primary">une démarche Lean Startup</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
